{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">Login</button>
    </form>
{% endblock %}
