{% comment %}
    squares = [(x, x**2) for x in range(10)]
    grays = [x for x in range(0, 257, 16)]
{% endcomment %}

{% for x in view.grays %}
    <div style="clear:left">
        {% for y in view.grays %}
            <div style="width:20px;  float:left; background: rgb({{ x }},0,{{ y }})">
            </div>
        {% endfor %}
    </div>

    <p>
        {% for n, n2 in view.squares %}
            {{ n }}<sup>2</sup> = <b>{{ n2 }}</b>
            {% if not forloop.last %}
                &int;
            {% endif %}
        {% endfor %}
    </p>

{% endfor %}
