{% load static %}

<h1>Best Dad Joke Ever</h1>

<button id="get-joke">Click me to get a joke</button>
<p></p>
<p></p>
<p></p>
<p></p>
<div id="joke">THE JOKE WILL APPEAR HERE</div>

<script src="{% static "js/joke.js" %}"></script>
