{% load static %}

<h1>TRIVIA!!!!</h1>

<button id="new-question">
    CLICK TO GET A NEW QUESTION
</button>
<p></p>
<p></p>
<p></p>
<div id="question">
    SHOW QUESTION HERE
</div>

<script src="{% static "js/trivia.js" %}"></script>
