{% extends "base.html" %}

{% block title %}
    Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <h1>Expense #{{ object.id }} {{ object.user }}</h1>

    <div>
        <p>

            {{ object.title }}, at {{ object.date }}: ${{ object.amount }}
        </p>
        <p>
            Description:
            {{ object.description|linebreaksbr }}
        </p>
    </div>
{% endblock %}



