{% extends "base.html" %}
{% load static %}

{% block title %}
    My Expenses
{% endblock %}

{% block content %}
    <h1>My Expenses</h1>

    <table class="table table-hover table-bordered">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>date</th>
            <th>amount</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url "expenses:detail" object.id %}">
                        {{ object.id }}
                    </a>
                    <span class="star" data-url="{% url "expenses:star" object.id %}">
                        {% if object.is_star %}
                            🌟
                        {% else %}
                            ⚝
                        {% endif %}
                    </span>
                </td>
                <td>{{ object.title }}</td>
                <td>{{ object.date }}</td>
                <td>${{ object.amount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Total:</th>
            <th>${{ view.total }}</th>
        </tr>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/star.js" %}"></script>
{% endblock %}
