{% extends "base.html" %}
{% load static  %}

{% block title %}
    Add Expense via REACT
{% endblock %}

{% block content %}
    <h1>Add Expense via REACT</h1>

    <div id="main"></div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static "react_form/expense_form_react.js" %}" type="text/babel"></script>
{% endblock %}
