{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    Add Expense
{% endblock %}

{% block content %}
    <h1>Add Expense</h1>

    <div>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
{% endblock %}
